@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>*@

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px; min-width: 240px;">
                <form method="POST" accept-charset="UTF-8">
                    <input id="userName" class="login form-control" type="email" placeholder="Email" />
                    <input id="userPassword" class="login form-control" type="password" placeholder="Password" />
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>

                    <input class="btn btn-primary signin" type="submit" value="Sign In" />
                </form>
            </div>
        </li>
    </ul>
}
